<%= form_for(@tender) do |f| %>
  <% if @tender.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tender.errors.count, "error") %> prohibited this tender from being saved:</h2>

      <ul>
      <% @tender.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content, :ckeditor => {:uiColor => '#AADC6E'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
