<% provide :title, "IT Parks" %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="col-md-2">
    <% if current_user && (current_user.has_role? :admin) %>
      <%= link_to 'New It park', new_it_park_path, class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="well">
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @it_parks.each do |it_park| %>
            <tr>
              <td><%= raw it_park.content %></td>
              <% if current_user && (current_user.has_role? :admin) %>
                <td><%= link_to 'Show', it_park %></td>
                <td><%= link_to 'Edit', edit_it_park_path(it_park) %></td>
                <td><%= link_to 'Destroy', it_park, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>
  </div>

  <div class="col-md-2">

  </div>
</div>
