<% provide :title, "Sub Centers" %>


<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="col-md-2">
    <% if current_user && (current_user.has_role? :admin) %>
      <%= link_to 'New Sub center', new_sub_center_path, class: "btn btn-default" %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="well">
      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sub_centers.each do |sub_center| %>
            <tr>
              <td><%= raw sub_center.content %></td>
              <% if current_user && (current_user.has_role? :admin) %>
                <td><%= link_to 'Show', sub_center %></td>
                <td><%= link_to 'Edit', edit_sub_center_path(sub_center) %></td>
                <td><%= link_to 'Destroy', sub_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>
  </div>

  <div class="col-md-2">

  </div>
</div>
