<% provide :title, "Missions" %>
<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="col-md-2">
    <% if current_user && (current_user.has_role? :admin) %>
      <%= link_to 'New Mission', new_mission_path %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="pane panel-default">
      <% @missions.each do |mission| %>
      <% if current_user && (current_user.has_role? :admin) %>
        <%= link_to 'Edit', edit_mission_path(mission) %> |
        <%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= raw mission.content %>

      <% end %>
    </div>
  </div>

  <div class="col-md-2">

  </div>
</div>
