<div class="container-fluid  bg-1">
  <div class="row">
    <div class="col-md-3">
      <br>
      <!-- <a href="https://india.gov.in/" target="_blank">
        <%= image_tag("india_portal.png", size: "200x60") %>
      </a> -->
    </div>

    <div class="col-md-9">
      <p>
        <h4 style="margin-left: 28%;">
          <a href="https://www.stpi.in/" target="_blank">
            <%= image_tag("logo.png", size: "80x50") %>
          </a>
        </h4>
        <h2 style="margin-top: -1%;">
          Software Technology Parks of India, Guwahati
        </h2>
      </p>
      <% if user_signed_in? %>
        <%= current_user.email %> | <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
  <div class="row" align="center">
    Department of Electronics and Information Technology(DeitY),
Ministry of Communications & Information Technology, Govt. of India
  </div>
  <br>
</div>
<div class="container-fluid bg-2">
  <nav class="navbar navbar" style="margin-top:1%;">
    <a href="<%= root_path %>">
      <div class="col-md-1 rounded-tabs">Home </div>
    </a>

    <a href="<%= missions_path %>">
      <div class="col-md-1 rounded-tabs">Mission</div>
    </a>

    <a href="<%= services_path %>">
      <div class="col-md-1 rounded-tabs">Services</div>
    </a>

    <a href="<%= consultancies_path %>">
      <div class="col-md-1 rounded-tabs">Consultancy</div>
    </a>

    <div class="col-md-4">
      <div class="form-group">
        <%= form_tag results_path, :method => :get do %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
            <%= text_field_tag :search, params[:search],class: "form-control", placeholder: "Search - enter keywords" %>
          </div>
            <!-- <%= submit_tag "Search", :name => nil %> <i class="fa fa-key fa-fw"></i> -->
        <% end %>
      </div>
    </div>

    <a href="<%= feedbacks_path %>">
      <div class="col-md-1 rounded-tabs">Feedback</div>
    </a>

    <a href="<%= careers_path %>">
      <div class="col-md-1 rounded-tabs">Carrers </div>
    </a>

    <a href="<%= contact_path %>">
      <div class="col-md-1 rounded-tabs">Contact Us</div>
    </a>

    <a href="<%= digital_india_path %>">
      <div class="col-md-1 rounded-tabs">Digital India</div>
    </a>

  </nav>
</div>
<div class="clearfix">

</div>
<br>
