<% provide :title, "Policy" %>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="col-md-3">
    <% if current_user && (current_user.has_role? :admin) %>
      <h4><%= link_to 'Add Policy', new_policy_path %> </h4>
    <% end %>
  </div>

  <div class="col-md-6">

    <div class="well">
      <% @policies.each do |policy| %>
        <%= raw policy.content %>
        <% if current_user && (current_user.has_role? :admin) %> |
          <%= link_to 'Edit', edit_policy_path(policy) %> |
          <%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %><hr>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">

  </div>
</div>
